.App {
  text-align: center;
}

.Search-area {
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34
}

.Logo {
  max-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}